# Prevent direct access to the entire "login" folder from the main domain
RewriteEngine On

# Block access to the entire "login" folder if accessed from the main domain
RewriteCond %{HTTP_HOST} ^(www\.)?projectwebsitegereja\.my\.id$ [NC]
RewriteCond %{REQUEST_URI} ^/login/ [NC]
RewriteRule ^ - [F,L]

# Allow access to the "login/admin" folder only if accessed from the admin subdomain
RewriteCond %{HTTP_HOST} ^admin\.projectwebsitegereja\.my\.id$ [NC]
RewriteCond %{REQUEST_URI} ^/login/admin/ [NC]
RewriteRule ^ - [L]

# Allow access to other parts of the "login" folder from the admin subdomain
RewriteCond %{HTTP_HOST} ^admin\.projectwebsitegereja\.my\.id$ [NC]
RewriteCond %{REQUEST_URI} ^/login/ [NC]
RewriteRule ^ - [L]

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpeg "access 1 year"
  ExpiresByType image/png "access 1 year"
  ExpiresByType image/gif "access 1 year"
  ExpiresByType image/webp "access 1 year"
</IfModule>
