# Prevent direct access to subdomain folder from main domain
RewriteEngine On

# Replace "login" with the actual name of your folder
RewriteCond %{HTTP_HOST} ^(www\.)?projectwebsitegereja\.my\.id$ [NC]
RewriteCond %{REQUEST_URI} ^/login/ [NC]
RewriteRule ^(.*)$ - [F,L]

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpeg "access 1 year"
  ExpiresByType image/png "access 1 year"
  ExpiresByType image/gif "access 1 year"
  ExpiresByType image/webp "access 1 year"
</IfModule>
